# IntelliJ project files
.idea/
*.iml

.gradle/

*.war
*.log

out/
build/
logs/

.vagrant/
vagrant/.vagrant

ansible/*.retry

.chef

nodejs/node_modules/
nodejs/package-lock.json
nodejs/.tern-project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*